.icon-myedit{
	background:url('../image/easyui_icons/edit.png') no-repeat;
}
.icon-mylist{
	background:url('../image/easyui_icons/list.png') no-repeat;
}
.icon-mylist2{
	background:url('../image/easyui_icons/list2.png') no-repeat;
}
.icon-mydelete{
	background:url('../image/easyui_icons/delete.png') no-repeat;
}
.icon-myupload{
	background:url('../image/easyui_icons/upload.png') no-repeat;
}
.icon-myhome{
	background:url('../image/easyui_icons/home.png') no-repeat;
}
.icon-myfolder{
	background:url('../image/easyui_icons/folder.png') no-repeat;
}
.icon-mysave{
	background:url('../image/easyui_icons/save.png') no-repeat;
}
.icon-myprivilege{
	background:url('../image/easyui_icons/privilege.png') no-repeat;
}
.icon-myuser{
	background:url('../image/easyui_icons/user.png') no-repeat;
}
.icon-myusers{
	background:url('../image/easyui_icons/users.png') no-repeat;
}
.icon-myman{
	background:url('../image/easyui_icons/man.png') no-repeat;
}
.icon-mywoman{
	background:url('../image/easyui_icons/woman.png') no-repeat;
}
.icon-mywindow{
	background:url('../image/easyui_icons/window.png') no-repeat;
}
.icon-myapp{
	background:url('../image/easyui_icons/app.png') no-repeat;
}
.icon-mysetting{
	background:url('../image/easyui_icons/setting.png') no-repeat;
}
.icon-myconfig{
	background:url('../image/easyui_icons/config.png') no-repeat;
}
.icon-mycomputer{
	background:url('../image/easyui_icons/computer.png') no-repeat;
}
.icon-mybag{
	background:url('../image/easyui_icons/bag.png') no-repeat;
}

.icon-myfolder3{
	background:url('../image/easyui_icons/folder3.png') no-repeat;
}
.icon-myfile{
	background:url('../image/easyui_icons/file.png') no-repeat;
}
.icon-myuser2{
	background:url('../image/easyui_icons/user2.png') no-repeat;
}
.icon-myfolder2{
	background:url('../image/easyui_icons/folder2.png') no-repeat;
}
.icon-myfile2{
	background:url('../image/easyui_icons/file2.png') no-repeat;
}
.icon-mylist2{
	background:url('../image/easyui_icons/list2.png') no-repeat;
}
.icon-myapp2{
	background:url('../image/easyui_icons/app2.png') no-repeat;
}

.icon-mysearch{
	background:url('../image/easyui_icons/search.png') no-repeat;
}
.icon-myinfo{
	background:url('../image/easyui_icons/info.png') no-repeat;
}
.icon-myxp{
	background:url('../image/easyui_icons/xp.png') no-repeat;
}

.icon-myprinter{
	background:url('../image/easyui_icons/printer.png') no-repeat;
}
.icon-myprinter2{
	background:url('../image/easyui_icons/printer2.png') no-repeat;
}
.icon-mytableedit{
	background:url('../image/easyui_icons/table_edit.png') no-repeat;
}





.icon-1{
	background:url('../image/easyui_icons/1.png') no-repeat;
}
.icon-2{
	background:url('../image/easyui_icons/2.png') no-repeat;
}
.icon-3{
	background:url('../image/easyui_icons/3.png') no-repeat;
}
.icon-4{
	background:url('../image/easyui_icons/4.png') no-repeat;
}
.icon-5{
	background:url('../image/easyui_icons/5.png') no-repeat;
}
.icon-6{
	background:url('../image/easyui_icons/6.png') no-repeat;
}
.icon-7{
	background:url('../image/easyui_icons/7.png') no-repeat;
}


.icon-15{
	background:url('../image/easyui_icons/15.png') no-repeat;
}
.icon-16{
	background:url('../image/easyui_icons/16.png') no-repeat;
}
.icon-17{
	background:url('../image/easyui_icons/17.png') no-repeat;
}
.icon-18{
	background:url('../image/easyui_icons/18.png') no-repeat;
}
.icon-19{
	background:url('../image/easyui_icons/19.png') no-repeat;
}


.icon-20{
	background:url('../image/easyui_icons/20.png') no-repeat;
}
.icon-23{
	background:url('../image/easyui_icons/23.png') no-repeat;
}
.icon-24{
	background:url('../image/easyui_icons/24.png') no-repeat;
}
.icon-25{
	background:url('../image/easyui_icons/25.png') no-repeat;
}




.icon-31{
	background:url('../image/easyui_icons/31.png') no-repeat;
}
.icon-32{
	background:url('../image/easyui_icons/32.png') no-repeat;
}
.icon-33{
	background:url('../image/easyui_icons/33.png') no-repeat;
}
.icon-34{
	background:url('../image/easyui_icons/34.png') no-repeat;
}
.icon-35{
	background:url('../image/easyui_icons/35.png') no-repeat;
}
.icon-36{
	background:url('../image/easyui_icons/36.png') no-repeat;
}
.icon-37{
	background:url('../image/easyui_icons/37.png') no-repeat;
}
.icon-38{
	background:url('../image/easyui_icons/38.png') no-repeat;
}
.icon-39{
	background:url('../image/easyui_icons/39.png') no-repeat;
}



.icon-40{
	background:url('../image/easyui_icons/40.png') no-repeat;
}
.icon-41{
	background:url('../image/easyui_icons/41.png') no-repeat;
}
.icon-42{
	background:url('../image/easyui_icons/42.png') no-repeat;
}
.icon-44{
	background:url('../image/easyui_icons/44.png') no-repeat;
}
.icon-45{
	background:url('../image/easyui_icons/45.png') no-repeat;
}
.icon-46{
	background:url('../image/easyui_icons/46.png') no-repeat;
}
.icon-47{
	background:url('../image/easyui_icons/47.png') no-repeat;
}
.icon-48{
	background:url('../image/easyui_icons/48.png') no-repeat;
}
.icon-49{
	background:url('../image/easyui_icons/49.png') no-repeat;
}



.icon-50{
	background:url('../image/easyui_icons/50.png') no-repeat;
}
.icon-51{
	background:url('../image/easyui_icons/51.png') no-repeat;
}
.icon-52{
	background:url('../image/easyui_icons/52.png') no-repeat;
}
.icon-53{
	background:url('../image/easyui_icons/53.png') no-repeat;
}
.icon-54{
	background:url('../image/easyui_icons/54.png') no-repeat;
}
.icon-56{
	background:url('../image/easyui_icons/56.png') no-repeat;
}
.icon-57{
	background:url('../image/easyui_icons/57.png') no-repeat;
}
.icon-58{
	background:url('../image/easyui_icons/58.png') no-repeat;
}

.icon-help{
	background:url('../image/easyui_icons/help.png') no-repeat;
}
.icon-filedit{
	background:url('../image/easyui_icons/file_edit.png') no-repeat;
}
.task-call-back{
	background:url('../image/easyui_icons/arrow_undo.png') no-repeat;
}
.task_sign_user{
	background:url('../image/easyui_icons/user_edit.png') no-repeat;
}
.icon_task_sign{
	background:url('../image/easyui_icons/task_edit.png') no-repeat;
}
.icon_ext_add{
	background:url('../image/easyui_icons/add.png') no-repeat;
}
.icon_task_claim{
	background:url('../image/easyui_icons/pencil.png') no-repeat;
}

.door_open{
	background:url('../image/easyui_icons/door_open.png') no-repeat;
}
.door_closed{
	background:url('../image/easyui_icons/door_closed.png') no-repeat;
}
.icon_wand{
	background:url('../image/easyui_icons/wand.png') no-repeat;
}
.icon_stop{
	background:url('../image/easyui_icons/stop.png') no-repeat;
}

.icon_tip{
	background:url('../image/easyui_icons/tip.png') no-repeat;
}
